.wood {
    background: url("https://openclipart.org/download/269713/wg-25.svg");
    transform: rotate3d(0, 1, .5, 3.142rad);
    position: fixed;
    min-height: 150%;
    min-width: 100%;
    margin-left: 0%;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    z-index: -5;
}

.items{
    margin-top: 25%;
    margin-left: 10%;
}

#tea {
    height: 200px;
    width: 200px;
    float: left;
    margin-left: 15%;
    margin-top: 10%;
    z-index: -9;
    transform: rotate3d(0, 1, .5, 3.142rad);
 }

#peppermint {
    float: left;
    margin-top: 5%;
    transform: rotate3d(0, 1, .5, 3.142rad);
}

#milk {
    float: left;
    margin-left: 10%;
   
}

#tea:hover, #peppermint:hover, #milk:hover {
    -webkit-filter: brightness(130%); /* Safari */
    filter: brightness(130%);
}